
/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: 'Lato', sans-serif;
  color: #777;
  box-sizing: border-box;
}

header {	
	height: auto;
}

h2 {
	text-align: center
}

ul {
	padding: 0;
}



fieldset {
	border: none;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}